#NODE_ENV=development
#PORT=3000
#API_PREFIX=/api/v1

#MONGODB_URI=mongodb://SEU_USUARIO:SUA_SENHA@ac-x12nzmn-shard-00-00.8lnociv.mongodb.net:27017,ac-x12nzmn-shard-00-01.8lnociv.mongodb.net:27017,ac-x12nzmn-shard-00-02.8lnociv.mongodb.net:27017/?ssl=true&replicaSet=atlas-q1sjx4-shard-0&authSource=admin&appName=Selene

#CLOUDINARY_CLOUD_NAME=seu_cloud_name
#CLOUDINARY_API_KEY=sua_api_key
#CLOUDINARY_API_SECRET=seu_secret

#PREDICT_API_URL=https://monitor-cogumelo.onrender.com/predict
#PREDICT_TIMEOUT_MS=60000

#JWT_SECRET=altere_esta_chave_secreta
#API_KEY=altere_esta_chave_api

#FOTOS_PATH=./fotos_plantas
#LOG_LEVEL=info